* {
    box-sizing: border-box;
    /* รวมตัว pading กับ margin เข้าไปในตัวคำนวนด้วย */
}

body {
    margin : 0;
    text-align: center;
    padding: 0rem 15rem;  /*บน-ล่าง  ซ้าย-ขวา*/
}

h1 {
    font-family: cursive;
    font-size: 4rem;
}

input {
    border: 1px solid #dfe1e5;
    border-radius: 24px;  /*ขอบโค้ง*/

    width: 50%;
    height: 50px;

    padding: 20px;
    margin-bottom: 42px;

    font-size: 20px;
}

input:focus{
    outline: none; /*ปิดการแสดงผล กรอบ เมื่อคลิก*/
}