body {
  background: #64b0ff url('./scene.png') repeat-x fixed bottom;

  height: 100vh;
  width: 100vw;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.winning {
  color: #FFF;
  font-size: 6em;;
  text-transform: uppercase;
  opacity: 0;
}

.duck {
  background-repeat: no-repeat;
  background-size: contain;
   cursor: crosshair , ;
  
  cursor: url("/enemy-icon-7.png"), auto;
  /* cursor: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/9632/sad.png"), auto;  */

  position: absolute;
  height: 120px;
  width: 120px;
}
