body {
  margin: 0;
}

 .carousel {
  display: flex; /* ไม่ใช่ภาพซ้อนกัน แต่ มันจะล้นจอ ไปทางขวา เดี๋ยวจะใช้ js เลื่อนมา*/
  overflow: hidden;  /**/
} 

.carousel > img {
   width: 100vw;  /* กว้าง ยาว เท่ากับจอ */
   height: 100vh;
  object-fit: cover; /*fit ให้พอดี จะถูก crop นิดหน่อย*/
  flex-shrink: 0; 
} 

button {
  background: none;
  border: none;
  outline: none;

  color: #ffffff;
  font-size: 4em;
  cursor: pointer;

  opacity: 0.5;
  transition: all 0.5s ease-in-out;

  position: fixed;
  top: 0;
  bottom: 0;
}

button:hover {
  opacity: 0.9;
}

.previous {
  left: 0%;
}

.next {
  right: 0%;
}